@charset "utf-8";

.btn-share {display:flex;align-items:center;height:1.875rem;}
.btn-share::before {content:'';display:inline-block;width:1.125rem;height:1.125rem;margin-right:0.5rem;background:url('../../resource/images/C/header_btn_share.png') 50% 50% no-repeat;background-size:100% auto;opacity:.6;}
.btn-share__text {font-size:0.813rem;color:#666;}

/* 서비스 가입 */
[class^='fx-join-step']:not(:first-child) {overflow:hidden;height:1px;opacity:0;transition:all 0.3s;transition-timing-function:ease-out;}
[class^='fx-join-step'].active {height:auto;margin-top:2.5rem;opacity:1;}
.fx-nickname .input .button-square-small {position:absolute;top:50%;right:0;margin-top:-0.938rem;z-index:2;}
.fx-nickname .input__error {position:absolute;width:calc(100% - 2.188rem);}
.fx-account {margin-top:1.875rem;}
.fx-account__word {padding-left:2.1875rem;}
.fxmarket .fx-limit {margin-top:1.5rem;}
.fx-limit .input-wrap {margin:0;}
.fx-limit .input {width:40%;margin-left:0;}
.fx-limit .input__title {width:4.375rem;font-size:1.125rem;}
.fx-limit .input__text {font-size:1.125rem;}