@charset "utf-8";

.max-w80 {max-width:80% !important;}
.btn-share {display:flex;align-items:center;}
.btn-share::before {content:'';display:inline-block;width:1.125rem;height:1.125rem;margin-right:0.5rem;background:url('../../resource/images/C/icon_share.png') 50% 50% no-repeat;background-size:100% auto;opacity:.6;}
.btn-share__text {font-size:0.813rem;color:#666;}
.fx-sticker {position:absolute;top:-35%;right:0.875rem;}
.fx-sticker__arrow {position:absolute;bottom:0;left:30%;width:0;height:0;}
.fx-sticker__arrow::before {content:'';position:absolute;bottom:0;width:0;height:0;border:solid transparent;border-color:rgba(243, 83, 116, 0);border-bottom-color:#f35374;border-width:13px;margin-left:-12px;}
.fx-sticker__cont {position:relative;display:flex;flex-wrap:wrap;align-items:center;align-content:center;width:5.625rem;height:5.625rem;text-align:center;border:2px solid #f35374;border-radius:50%;line-height:1.2;color:#f72450;background:#fff;}
.fx-sticker__cont::after {content:'';position:absolute;bottom:0;left:30%;width:0;height:0;border:solid transparent;border-color:rgba(255, 255, 255, 0);border-bottom-color:#fff;border-width:12px;margin-left:-8px;}
.fx-sticker__txt {margin-top:0.625rem;font-size:0.813rem;word-break:keep-all;}
.fx-sticker__num {display:block;width:100%;margin-top:0.125rem;text-align:center;font-weight:500;font-size:1.375rem;}

/* 서비스 가입 */
[class^='fx-join-step']:not(:first-child) {overflow:hidden;height:0;opacity:0;transition:all 0.5s;transition-timing-function:ease-out;}
[class^='fx-join-step'].active {height:auto;margin-top:2.5rem;opacity:1;}
.fx-nickname .input .button-square-small {position:absolute;top:50%;right:0;margin-top:-0.938rem;z-index:2;}
.fx-nickname .input__error {position:absolute;width:calc(100% - 2.188rem);}
.fx-nickname .input__find-button {color:#757575;}
.fx-nickname .input.input--on .input__find-button {color:#009591;}
.fx-account {margin-top:1.875rem;}
.fx-account__word {padding-left:2.1875rem;}
.fxmarket .fx-limit {margin-top:1.5rem;}
.fx-limit .input-wrap {margin:0;}
.fx-limit .input {width:40%;margin-left:0;}
.fx-limit .input__title {width:4.375rem;font-size:1.125rem;}
.fx-limit .input__element {font-size:1.25rem !important;}
.fx-limit .input__text {font-size:1.125rem;}

/* fx거래 */
.fxmarket__pull {padding-top:3.5rem;padding-top:calc(3.5rem + constant(safe-area-inset-top));padding-top:calc(3.5rem + env(safe-area-inset-top));}
.fx-rateboard {position:relative;min-height:15.25rem;padding:1rem 1.5rem 0;}
.fx-rateboard .button-alert {width:auto;height:3rem;margin:0;padding:0;font-size:0.813rem;color:#fff;}
.fx-rateboard .button-alert .icon-moon {display:inline-block;width:0.5rem;height:0.563rem;margin-right:0.3rem;background:url(../../resource/images/fxmarket/icon_moon.png) no-repeat 0 0 / 100%;}
.fx-rateboard .button-select__flex {z-index:10;position:relative;display:flex;justify-content:space-between;}
.fx-rateboard .button-select__item {width:auto;height:3rem;padding:0 2.5rem 0 0;font-size:1rem;font-weight:400;border:0;background-color:inherit;color:#000;line-height:1.4;}

.tab__type--small {margin-top:0.313rem;}
.tab__type--small .tab-wrap__menu:before {content:none;}
.tab__type--small .tab-wrap__item {width:auto;border-radius:0.438rem;}
.tab__type--small .tab-wrap__item ~ .tab-wrap__item {margin-left:-0.313rem;}
.tab__type--small .tab-wrap__button {z-index:10;padding:0.375rem 1.313rem;border-radius:0.313rem;background:#666;color:#b4b4b4;line-height:1;}
.tab__type--small .tab-wrap__button.is-active {z-index:20;background:#fff;color:#333!important;}
.tab__type--small .tab-wrap__button.is-active:before {content:none;}
.tab__type--small .tab-wrap__button.is-active:after {z-index:0;content:'';background:#fff;}
.tab__type--small .tab-content {position:absolute;top:0;right:0;bottom:0;left:0;}
.tab__type--small .tab__panel {height:100%;padding:7.5rem 2.125rem 0;}
.tab__type--small .tab__panel--buy {background:#f0d4b4 url(../../resource/images/fxmarket/img_fxtrade_buy.png) no-repeat calc(100% - 1.5rem) 100% / 9.625rem;}
.tab__type--small .tab__panel--sell {background:#c1e2eb url(../../resource/images/fxmarket/img_fxtrade_sell.png) no-repeat calc(100% - 1.5rem) 100% / 9.625rem;}
.fx-rate__item--del {font-size:1rem;color:#61605c;}
.fx-rate__item--ins {font-size:1.5rem;font-weight:500;text-decoration:none;color:#000;line-height:1.25;}
.fx-rateboard .fx-refresh {position:absolute;top:4.6rem;right:1.5rem;}
.fx-refresh__txt {font-size:0.875rem;color:#555;}
.fx-refresh__modal {margin-top:1.125rem;text-align:center;}
.fx-rateboard .fx-spread {position:absolute;bottom:2rem;left:2.215rem;font-size:0.813rem;}
.fx-spread__grade {display:inline-block;padding-left:1.125rem;font-weight:500;}
.fx-spread__grade--type01 {background:url(../../resource/images/fxmarket/icon_spread_grade01.png) no-repeat 0 50% / 0.688rem;}
.icon__moon-yellow {display:block;width:2.5rem;height:3rem;margin:0 auto 1rem;background:url(../../resource/images/fxmarket/icon_moon_yellow.png) no-repeat 0 0 / 100%;}
.fx-rateinfo .white-box {border:0;border-radius:initial;background:transparent;}
.fx-rateinfo .white-box__header {padding:0.75rem 0 0.5rem;}
.fx-rateinfo .white-box__content {padding:0;border:0;}
.fx-compare {display:flex;align-items:center;justify-content:space-between;}
.fx-compare .fx-period {margin-right:0.25rem}
.fx-compare .fx-compare__txt {display:flex;align-items:center;font-size:0.813rem;font-weight:500;color:#000;line-height:1;}
.fx-compare__txt--high {font-size:1.25rem;color:#f4466a;}
.fx-compare__txt--low {font-size:1.25rem;color:#2396e7;}
.fx-compare__txt--same {font-size:1.25rem;color:#666;}
.fx-progress {margin-top:4.063rem;}
.fx-progress .progress__bg {overflow:visible;position:relative;display:block;width:100%;height:0.625rem;margin-top:0;background:linear-gradient(90deg, #dbdbdb, #dbdbdb 1px, transparent 1px, transparent 50%);background-size:calc((100% - 1px) / 2) 100%;border-radius:initial;}
.fx-progress .progress__bg:after {content:'';position:absolute;top:0;right:0;bottom:0;left:0;height:0.125rem;margin:auto;background:#dbdbdb;}
.fx-progress .progress__bar {overflow:visible;position:relative;height:100%;margin:0;padding-left:0.6rem;background:none;border-radius:initial;text-align:right;}
.fx-progress .progress__bar:after {content:'';z-index:10;position:absolute;right:0;width:0.375rem;height:0.5rem;background:url(../../resource/images/fxmarket/bg_process_low.png) no-repeat 0 0 / 100%;}
.fx-progress .progress__text-wrap {display:-webkit-box;display:flex;-webkit-box-pack:justify;justify-content:space-between;margin-top:0.563rem;}
.fx-progress .progress__tooltip--text {display:block;font-size:0.75rem;color:#138fe5;line-height:1.2;}
.fx-progress .progress__tooltip--value {display:block;font-size:0.875rem;font-weight:500;color:#138fe5;line-height:1.3;}
.fx-progress .progress__item {padding-bottom:0;}
.fx-progress .progress__text {display:block;font-size:0.75rem;}
.fx-progress .progress__item--left .progress__text {color:#168bdc;text-align:left;}
.fx-progress .progress__item--center .progress__text {color:#000;text-align:center;}
.fx-progress .progress__item--center .progress__rate {color:#757575;}
.fx-progress .progress__item--right .progress__text {color:#f4466a;text-align:right;}
.fx-progress .progress__tooltip {position:absolute;top:-3.5rem;display:inline-block;width:4.563rem;margin-left:-2.5rem;padding:.375rem 0;border:1px solid #83c9f0;border-radius:0.313rem;text-align:center;}
.fx-progress .progress__tooltip:before {content:'';position:absolute;bottom:-0.5rem;left:50%;width:0.625rem;height:0.5rem;margin-left:-0.3125rem;background:url(../../resource/images/fxmarket/bg_bulloon_tail.png) no-repeat 0 0 / 100%;}
.progress__bar--average .progress__tooltip {margin-left:-2.3rem;border-color:#ccc;}
.progress__bar--average .progress__tooltip--text {color:#666;}
.progress__bar--average .progress__tooltip--value {color:#666;}
.progress__bar--average .progress__tooltip:before {background:url(../../resource/images/fxmarket/bg_bulloon_tail_gray.png) no-repeat 0 0 / 100%;}
.fx-progress .progress__bar--average:after {content:none;}
.fx-progress .progress__bar--over:after {content:'';right:auto;background:url(../../resource/images/fxmarket/bg_process_high.png) no-repeat 0 1px / 100%;}
.progress__bar--over .progress__tooltip {margin-left:-2.1rem;border-color:#f08395;}
.progress__bar--over .progress__tooltip:before {background:url(../../resource/images/fxmarket/bg_bulloon_tail_red.png) no-repeat 0 0 / 100%;}
.progress__bar--over .progress__tooltip--text {color:#f4466a;}
.progress__bar--over .progress__tooltip--value {color:#f4466a;}
.fx-progress .progress__bar--max:after {right:1px;}
.progress__bar--max .progress__tooltip {margin-left:0;left:auto;right:-0.6rem;}
.progress__bar--max .progress__tooltip:before {left:80%;}
.progress__bar--min .progress__tooltip {margin-left:-1.1rem;}
.progress__bar--min .progress__tooltip:before {left:20%;}
.fx-rate__graph {margin-top:1.688rem;}
.fx-graph__control {display:flex;align-items:center;justify-content:space-between;}
.fx-graph__control .select-button__item {height:2rem;font-size:0.875rem;color:#999;background:none;}
.fx-graph__control .select-button__item:before {border:0;}
.fx-graph__control .select-button__input:checked + .select-button__item {color:#138fe5;}
.fx-graph__control .select-button__input:checked + .select-button__item:before {content:none;}
.button-select__edit .button-select__item {background:url(../../resource/images/C/icon_edit_gray.png) no-repeat calc(100% - 1.188rem) 50% / 0.75rem;}
.label-balloon .label-line__item {position:relative;padding:0.25rem 0.313rem;border-radius:.25rem .25rem 0 .25rem;}
.label-balloon .label-line__item:after {content:'';position:absolute;right:-1px;bottom:-0.313rem;width:0.25rem;height:0.313rem;}
.label-line__item--direct {border-color:#f64b6e;color:#f64b6e;}
.label-line__item--direct:after {background:url(../../resource/images/fxmarket/bg_label_tail_red.png) no-repeat 0 0 / 100%;}
.label-line__item--mar {border-color:#52c400;color:#81bb4c;}
.label-line__item--mar:after {background:url(../../resource/images/fxmarket/bg_label_tail_green.png) no-repeat 0 0 / 100%;}
.label-line__item--reserve {border-color:#ee9d46;color:#ee9d46;}
.label-line__item--reserve:after {background:url(../../resource/images/fxmarket/bg_label_tail_yellow.png) no-repeat 0 0 / 100%;}
.fx-exchange {overflow:hidden;padding:1px 0;}
.fx-exchange .checkbox-wrap {width:2.375rem;height:3.5rem;}
.fx-exchange .checkbox-wrap__label {display:block;width:100%;padding-left:0;background:url(../../resource/images/fxmarket/btn_currency_switch.png) no-repeat 0 50% / 1.438rem;}
.fx-exchange .checkbox-wrap__label:before {content:none;}
.fx-exchange .input-wrap {align-items:flex-start;margin:0;}
.fx-exchange .input-wrap .input {margin:0;}
.fx-exchange .input__optional {width:0.75rem;padding-top:1rem;text-align:center;}
.fx-exchange .input__optional ~ .input {max-width:3.75rem;}
.fx-balance {position:relative;padding:0.625rem 0 0 0}
.fx-balance .list-wrap__title {font-size:0.875rem;}
.fx-balance .list-wrap__text--value {font-size:0.875rem;color:#666;}
.checkbox-content .fx-balance {margin:0 0 -1px -2.188rem;padding:0.938rem  0 0.625rem 0;border-bottom:1px solid #f0f0f0;}
.checkbox-content .fx-balance .list-wrap__title {font-size:1rem;}
.checkbox-content .fx-balance .list-wrap__text--value {font-size:1rem;}
.checkbox-content .fx-balance .list-wrap__currency {margin-left:3.125rem;font-size:1rem;color:#666;}

/* 환율선택 팝업 */
.modal__contents--fx {max-height:80vh;overflow-y:auto;}
.fx-rate__select {margin-top:-0.625rem}
.fx-rate__select .check-full ~ .check-full {margin-top:0.625rem;border-top:1px solid #e7e9ee}
.fx-rate__select .check-full__item {margin-top:0.625rem}
.fx-rate__select .check-full__label {text-align:center;}
.fx-rate__select .check-full__input:checked  + .check-full__label .check-full__label--txt {color:#000}
.fx-rate__select .input__unit {min-width:3rem;font-size:1.125rem;color:#757575;text-align:center}
.fx-rate__select .tooltip {top:-1px;padding-right:0.25rem;}

/* 거래내역조회 */
.list-wrap__box--label {display:block;width:100%;margin:0.313rem 0 0.875rem;line-height:1;}
.list-wrap__box--label .label-box {border-radius:0.125rem;}
.list-wrap__box--label .label-box--blue {border-color:#4b97f6;color:#4b97f6;}
.list-wrap__box--label .label-box--gray {border-color:#ccc;color:#a5a5a5;}
.fx-searchlist .white-box__arrow-button {margin-top:0.188rem;}
.fx-searchlist .text-guide-sub {font-weight:400;color:#000;}
.fx-historylist .border-list__item {padding:0;border-top:0;}
.fx-historylist .border-list__item + .border-list__item {border-top:1px solid #e7e9ee;}
.fx-historylist .list-list__anchor {display:block;padding:0.938rem 1.5rem;}
.fx-historylist .list-wrap {width:100%;margin-top:-0.188rem;padding:0;}
.fx-historylist .list-wrap__item {padding:0;}
.fx-historylist .list-wrap__title {color:#000;}
.fx-historylist .list-wrap__title--exrate {margin-top:0;letter-spacing:0;color:#666;}
.fx-historylist .list-wrap__text--date {letter-spacing:0;font-weight:300;color:#757575;}
.fx-historylist .icon-na {margin-top:-0.063rem;margin-right:0.625rem;}
.fx-applyrate .input--maxw {max-width:3.750rem !important;}
.fx-currency {margin-top:0.875rem !important;margin-bottom:-0.313rem;}
.fx-currency .icon-na img {vertical-align:-4px;}
.fx-exchange--applysum {margin-bottom:-1rem;}

/* 마이페이지 */
.modal__contents .fx-nickname {margin:0.687rem 0 0;}
.fxmarket .tit-default__link {position:relative;width:100%;margin:-0.5625rem 0;padding:0.5625rem 0}
.fxmarket .tit-default__link::after {content:'';position:absolute;top:50%;right:0;width:0.4375rem;height:0.6875rem;background:url(../../resource/images/C/arrow_right_default_21x33.png) no-repeat;background-size:0.4375rem auto;-webkit-transform:translateY(-50%);transform:translateY(-50%);}
.fx-nickname__modaltit {font-weight:400;font-size:1rem;line-height:1.3125rem;}
.fx-nickname .input__guide-text--green {position:absolute;margin-top:0.625rem;color:#009591;}
.fx-nickname--leave {margin-bottom:0.375rem;text-align:center;font-size:1.25rem;font-weight:400;color:#000;}
.fx-mypage--arrow {margin:0 auto;color:#333;}
.fx-mypage--arrow::after {width:0.375rem;height:0.688rem;background:url(../../resource/images/fxmarket/arrow_right_17x31_333.png) 0 0 no-repeat;background-size:100% auto;}
.fx-myinfo {display:flex;justify-content:space-between;align-items:center;flex-direction:row-reverse;}
.fx-myinfo .button-select {width:13.750em;padding-bottom:0.813rem;}
.fx-myinfo .button-select__item {height:1.875rem;padding-left:0;border:none;font-size:1.25rem;letter-spacing:-0.5px;background-position:95% 50%;}
.fx-level-icon {display:block;width:4rem;height:4.875rem;background-position:0 0;background-repeat:no-repeat;background-size:100% auto;}
.fx-level-icon.level-1 {background-image:url(../../resource/images/fxmarket/dummy_icon_level_01.png);}
/* s마이페이지 수정중 */
.fx-score__point {color:#009591;}
.fx-score__point::after {top:0;}
.fx-score__point span {margin:0 0.25rem 0 0;}
.fx-score__point--num {margin-left:0.813rem;font-weight:300;color:#000;}
.fx-score__item {display:flex;justify-content:space-between;align-items:center;margin-top:0.438rem;font-size:0.813rem;font-weight:300;color:#757575;}
.fx-score__text--lv {margin-left:0.313rem;color:#009591;}
.fx-score__progress[value] {appearance:none;overflow:hidden;width:100%;display:flex;align-items:center;margin-top:0.625rem;border:1px solid #d9d9d9;border-radius:1rem;}
.fx-score__progress[value]::-webkit-progress-bar {background-color:#f7f7f7;}
.fx-score__progress[value]::-webkit-progress-value {border-radius:15px;background:linear-gradient(to top, #0d9692, 10%, #0faca8);box-shadow:0 2px 5px rgba(255,255,255,0.5) inset, 0 1px 5px rgba(0,0,0,0.3);}

.fx-challenge-badge {padding:1.25rem 0.938rem;border-radius:1.25rem;background:#ececee;}
.fx-challenge-badge .no-data {padding:1.813rem 0;}
.fx-challenge-badge .inner-box {overflow:hidden;overflow-x:auto;}
.fx-challenge-badge .inner-list {display:flex;flex-wrap:nowrap;}
/* .fx-challenge-badge__item {display:inline-block;} */
.fx-challenge-badge__item:not(:first-child) {margin-left:0.625rem;}
.fx-challenge-badge__text {display:block;margin-top:5px;text-align:center;font-size:0.875rem;}
[class^='fx-challenge-badge__icon--'] {}
[class^='fx-challenge-badge__icon--']::before {content:'';display:block;width:3.438rem;height:3.438rem;margin:0 auto;border-radius:50%;border:3px solid #004cf5;background-color:#fff4a3;}
.fx-challenge-badge__icon--01 {}

.list-section--fxm {margin:0 0 -1.875rem;}
hr.spacer + .list-section--fxm {margin-top:-1.875rem;}
/* e마이페이지 수정중 */
.list-wrap--line,
.list-wrap--line .list-wrap__item {border:0;}
.list-section--fxm .list-wrap__item + .list-wrap__item {border-top:1px solid #e7e9ee;}
.list-section--fxm .list-button-wrap--large .list-wrap__anchor {padding-left:0;padding-right:1.25rem;}
.list-section--fxm .list-button-wrap--large .list-wrap__anchor--bullet::after {right:0;}
.fx-pushalarm .row-list__text {width:100%;}
.fx-pushalarm .row-list__phrase--em {display:inline-block;color:#009591;}
.fx-pushalarm .guide-wrap__item {font-size:0.813rem;color:#757575;}
/* 마이페이지 - FX Score 상세 */
.fx-score--detail {margin-top:-1.75rem;padding:1.875rem 0 0;background-color:#f9f9fb;}
.fx-score--detail .card__wrap {padding:1.188rem;}
.fx-score--detail .fx-score__point {display:flex;align-items:center;height:1.375rem;letter-spacing:0;font-size:1.125rem;font-weight:500;}
.fx-score--detail .fx-score__point--num {font-weight:400;}
.fx-score--detail .fx-score__item {font-size:0.875rem;}
.fx-searchlist--bg {background-color:#f9f9fb;}
.white-nowrap {white-space:nowrap !important;}
.fx-scorelist .tit-default {margin-left:0;margin-right:0;}
.fx-scorelist__item {margin-top:2.125rem;}
/* 마이페이지 - 등급안내 */
.fx-levelinfo .additional-item {margin-right:-0.813rem;}
.fx-levelinfo .button-select__item {height:auto;border:none;}
.fx-levelinfo-icon {display:flex;align-items:center;justify-content:center;}
.fx-levelinfo-icon::before {content:'';display:inline-block;width:0.625rem;height:0.625rem;margin-right:0.375rem;background:url(../../resource/images/fxmarket/dummy_icon_fxlevel.png) no-repeat;background-size:100% auto;}
.fx-levelinfo-icon.level-1::before {background-position:0 0;}
.fx-levelinfo-icon.level-2::before {background-position:0 -0.625rem;}
.fx-levelinfo-icon.level-3::before {background-position:0 -1.25rem;}
.fx-levelinfo-icon.level-4::before {background-position:0 -1.875rem;}
.fx-levelinfo-icon.level-5::before {background-position:0 -2.5rem;}
.fx-mylevel {margin-top:-1.75rem;padding:1.875rem 0 2.5rem;background-color:#f9f9fb;}
.fx-mylevel .fx-level-icon {position:static;width:3.438rem;height:4.188rem;margin-right:1.25rem;}
.fx-mylevel__wrap {display:flex;align-items:center;padding:0.75rem 0;}
.fx-mylevel__lv {font-weight:500;font-size:1.25rem;}
.fx-mylevel__desc {color:#666;}
/* 마이페이지 - 거래한도 관리 */
.amount-item--fxlimit .amount {font-weight:500;font-size:1.125rem;letter-spacing:0;}

/* 부가서비스 */
.fx-service__keyvisual {margin-top:-1.25rem;padding:1.875rem 1.5rem;}

/* 부가서비스 탑트레이더 랭킹 */
.fx-service__keyvisual--trader {overflow:hidden;position:relative;padding-top:106%;background:#373a4d;}
.keyvisual__trader--trophy {
    position:absolute;top:12vw;right:0;left:0;
    -webkit-animation-name:trophy;
    animation-name:trophy;
    -webkit-animation-duration:2s;
    animation-duration:2s;
    -webkit-animation-timing-function:ease-in-out;
    animation-timing-function:ease-in-out;
    -webkit-animation-iteration-count:1;
    animation-iteration-count:1;
}
.keyvisual__trader--particle {position:absolute;top:0;right:0;left:0;-webkit-transform:scale(1.1);transform:scale(1.1);
    -webkit-animation-name:particle;
    animation-name:particle;
    -webkit-animation-duration:2s;
    animation-duration:2s;
    -webkit-animation-timing-function:ease-in-out;
    animation-timing-function:ease-in-out;
    -webkit-animation-iteration-count:1;
    animation-iteration-count:1;
}
.keyvisual__trader--txt {position:absolute;top:79vw;left:0;right:0;}
@keyframes particle {
    0% {-webkit-transform:scale(1);transform:scale(1)}
    100% {-webkit-transform:scale(1.1);transform:scale(1.1)}
}
@keyframes trophy {
    0% {-webkit-transform:translateY(20px);transform:translateY(20px);}
    60% {-webkit-transform:translateY(-10px);transform:translateY(-10px);}
    100% {-webkit-transform:translateY(0);transform:translateY(0);}
}
.fx-trader__list {position:relative;display:flex;margin:0.625rem 1.5rem;border:1px solid #d4d4d4;border-radius:0.75rem;}
.fx-trader__list:nth-child(1) {border-color:#e1cc9e;}
.fx-trader__list:nth-child(2) {border-color:#adadc8;}
.fx-trader__list:nth-child(3) {border-color:#a8d9e2;}
.fx-trader__list:before {content:'';position:absolute;top:-1px;bottom:-1px;left:-1px;width:3.5rem;border-radius:0.75rem 0 0 0.75rem;background:#c6c6c6;}
.fx-trader__list:nth-child(1):before {background:#f7b21f;}
.fx-trader__list:nth-child(2):before {background:#6e6ec4;}
.fx-trader__list:nth-child(3):before {background:#67cfe3;}
.fx-trader__list .fx-level-icon {width:1.25rem;height:1.25rem;}
.fx-trader__rank {position:relative;display:flex;justify-content:center;align-items:center;width:3.5rem;font-weight:500;font-size:1.5rem;color:#fff;}
.fx-trader__info {flex:1;padding:1rem 1rem 0.813rem 1.25rem;}
.fx-trader__nickname {margin-left:0.5rem;font-size:0.875rem;font-weight:300;line-height:1.5;}
.challenge__badge {display:flex;margin-left:0.313rem;}
.challenge-badge__item {display:inline-block;width:0.875rem;height:0.875rem;margin:0 0.188rem;}
.challenge-badge__item.challenge-1 {background:url(../../resource/images/fxmarket/dummy_icon_challenge_01.png) no-repeat 0 0 / 100%;}
.challenge-badge__item.challenge-2 {background:url(../../resource/images/fxmarket/dummy_icon_challenge_02.png) no-repeat 0 0 / 100%;}
.challenge-badge__item.challenge-3 {background:url(../../resource/images/fxmarket/dummy_icon_challenge_03.png) no-repeat 0 0 / 100%;}
.fx-trader__sum {display:block;margin:0.188rem 0 0 1.625rem;font-size:1.125rem;font-weight:300;color:#000;line-height:1}
.fx-mytrader__wrap {z-index:10;position:relative;top:-1px;background:#373a4d;}
.fx-mytrader__wrap .fx-sticker {right:1.5rem;}
.fx-mytrader__wrap .fx-trader__list {z-index:-1;align-items:center;margin:0;padding:0 1rem 0 1.5rem;border-width:0 0 1px 0;border-color:#f0f0f0;border-radius:1.5rem 1.5rem 0 0;background:#fff;}
.fx-mytrader__wrap .fx-trader__info {padding:2rem 0 1rem 1.5rem}
.fx-mytrader__wrap .fx-trader__list:before {content:none;}
.fx-mytrader__wrap .fx-trader__rank {position:relative;max-width:4.813rem;width:auto;padding:0 0.75rem;border-radius:1.5rem;background:#c6c6c6;font-size:1.125rem;line-height:1.8;}
.fx-mytrader__wrap .fx-trader__rank:before {content:'';z-index:-1;position:absolute;left:0.25rem;bottom:-0.438rem;width:1.438rem;height:0.75rem;background:url(../../resource/images/fxmarket/bg_toptrader_tail.png) no-repeat 50% 0 / 100%;}
.fx-mytrader__wrap .fx-sticker__cont {width:5.063rem;height:5.063rem;}
.fx-mytrader__wrap .fx-sticker__txt {width:100%;margin-top:2rem;}
.fx-sticker .icon-speaker {
    position:absolute;top:20%;left:0;right:0;width:1.688rem;height:1.813rem;margin:auto;background:url(../../resource/images/fxmarket/icon_speaker.png) no-repeat 50% 0 / 100%;
    -webkit-animation-name:speaker;
    animation-name:speaker;
    -webkit-animation-duration:3s;
    animation-duration:3s;
    -webkit-animation-timing-function:ease-in;
    animation-timing-function:ease-in;
    -webkit-animation-iteration-count:infinite;
    animation-iteration-count:infinite;
}
@keyframes speaker {
    0% {-webkit-transform:scale(1);transform:scale(1);}        
    10% {-webkit-transform:scale(1.4);transform:scale(1.4);}        
    16%{-webkit-transform:scale(1);transform:scale(1);}        
    30% {-webkit-transform:rotate(10deg);transform:rotate(10deg);} 
    33% {-webkit-transform:rotate(-10deg);transform:rotate(-10deg);}
    36% {-webkit-transform:rotate(10deg);transform:rotate(10deg);}
    39% {-webkit-transform:rotate(-10deg);transform:rotate(-10deg);}
    42% {-webkit-transform:rotate(10deg);transform:rotate(10deg);}
    45% {-webkit-transform:rotate(-10deg);transform:rotate(-10deg);}
    48% {-webkit-transform:rotate(10deg);transform:rotate(10deg)}
    51% {-webkit-transform:rotate(-10deg);transform:rotate(-10deg);}
    54% {-webkit-transform:rotate(10deg);transform:rotate(10deg)}
    57% {-webkit-transform:rotate(0);transform:rotate(0)}
}
.fx-trader__wrap {padding:1.25rem 0 0 0;}
.fx-share__content {text-align:center;}
.fx-share__img {width:57%;margin:auto;}
.fx-share__title {margin-top:1.5rem;color:#000;font-size:1.25rem;line-height:1.5;}
.fx-share__desc {color:#666;font-weight:300;font-size:1.125rem;line-height:1.2;}
.button-wrap .button--kakao {position:relative;background:#fae100; color:#3c1e1e;box-shadow:0 0.58333rem 0.525rem 0.05833rem rgba(250, 225, 0, 0.28);}
.button-wrap .button--kakao:before {content:'';display:inline-block;width:1.375rem;height:1.25rem;margin-right:0.5rem;background:url(../../resource/images/C/icon_kakao.png) no-repeat 0 0 / 1.375rem;vertical-align:middle;}

/* 부가서비스 - 출석체크 */
.fx-attend {overflow:hidden;}
.font-xxlarge {font-size:1.5rem !important;}
.fx-attend__title {display:block;width:12.688rem;height:1.375rem;margin:0.875rem auto 1.313rem;background:url(../../resource/images/fxmarket/txt_attendevent.png) no-repeat 0 0 / 100%;}
.fx-attend__desc {display:block;font-size:1.25rem;text-align:center;line-height:1.3;color:#000;font-weight:300;}
.fx-attend__desc .color-green {font-weight:400;}
.fx-attend-visual {position:relative;width:11.813rem;height:11.813rem;margin:2.25rem auto 1.625rem;}
.fx-attend-visual .ani-circle {display:block;width:11.813rem;height:11.813rem;border-radius:50%;background:#ffc62d;}
.fx-attend-visual .ani-rocket-wrap {
    z-index:10;position:absolute;top:0;right:0;bottom:0;left:0;height:100%;
    -webkit-animation-name:rocketbox;
    animation-name:rocketbox;
    -webkit-animation-duration:6s;
    animation-duration:6s;
    -webkit-animation-timing-function:linear;
    animation-timing-function:linear;
    -webkit-animation-fill-mode:both;
    animation-fill-mode:both;
}
.fx-attend-visual .ani-rocket {
    display:inline-block;
    -webkit-animation-name:vibration;
    animation-name:vibration;
    -webkit-animation-duration:0.2s;
    animation-duration:0.2s;
    -webkit-animation-iteration-count:infinite;
    animation-iteration-count:infinite;
    -webkit-animation-fill-mode:both;
    animation-fill-mode:both;
}
.fx-attend-visual .ani-rocket-main {display:block;width:5.75rem;height:8.25rem;background:url(../../resource/images/fxmarket/img_ani_rocket.png) no-repeat 0 0 / 100%;}
.fx-attend-visual .ani-smoke {z-index:20;position:absolute;width:3.625rem;height:4.25rem;background:url(../../resource/images/fxmarket/img_ani_smoke.png) no-repeat 0 0 / 100%;}
.fx-attend-visual .ani-smoke-center {
    top:8rem;left:2rem;
    -webkit-animation-name:maingas;
    animation-name:maingas;
    -webkit-animation-duration:0.1s;
    animation-duration:0.1s;
    -webkit-animation-timing-function:cubic-bezier(0.175, 0.885, 0.42, 1.41);
    animation-timing-function:cubic-bezier(0.175, 0.885, 0.42, 1.41);
    -webkit-animation-iteration-count:infinite;
    animation-iteration-count:infinite;
    -webkit-animation-fill-mode:both;
    animation-fill-mode:both;
}
.fx-attend-visual .ani-smoke-left, .fx-attend-visual .ani-smoke-right {
    -webkit-animation-name:smallgas;
    animation-name:smallgas;
    -webkit-animation-duration:0.3s;
    animation-duration:0.3s;
    -webkit-animation-timing-function:ease-in;
    animation-timing-function:ease-in;
    -webkit-animation-iteration-count:infinite;
    animation-iteration-count:infinite;
}
.fx-attend-visual .ani-smoke-left {-webkit-transform:scale(0.5);transform:scale(0.5);top:12rem;left:1rem;}
.fx-attend-visual .ani-smoke-right {-webkit-transform:scale(0.6);transform:scale(0.6);top:10rem;left:5rem;-webkit-animation-delay:0.1s;animation-delay:0.1s}
.fx-booster {
    margin-bottom:1.875rem;text-align:center;
    -webkit-animation-name:boosterday;
    animation-name:boosterday;
    -webkit-animation-duration:6s;
    animation-duration:6s;
    -webkit-animation-timing-function:ease-out;
    animation-timing-function:ease-out;
    -webkit-animation-fill-mode:both;
    animation-fill-mode:both;
}
.fx-attend-visual .ani-circle {
    -webkit-animation-name:circlespin;
    animation-name:circlespin;
    -webkit-animation-duration:4s;
    animation-duration:4s;
    -webkit-animation-timing-function:linear;
    animation-timing-function:linear;
    -webkit-animation-iteration-count:infinite;
    animation-iteration-count:infinite;
    -webkit-animation-fill-mode:both;
    animation-fill-mode:both;
}
.fx-attend-visual .ani-circle:before {
    content:'';display:block;width:100%;height:100%;border-radius:50%;
    -webkit-animation-name:circleglow;
    animation-name:circleglow;
    -webkit-animation-duration:6s;
    animation-duration:6s;
    -webkit-animation-timing-function:linear;
    animation-timing-function:linear;
    -webkit-animation-fill-mode:both;
    animation-fill-mode:both;
}
@keyframes rocketbox {
  0%, 15% {-webkit-transform:translate(-200%, 50vh);transform:translate(-200%, 50vh);}
  25% {-webkit-transform:translate(0, 2rem);transform:translate(0, 2rem);}
  35% {-webkit-transform:translate(0, 4rem);transform:translate(0, 4rem);}
  45% {-webkit-transform:translate(-2rem, 0);transform:translate(-2rem, 0);}
  60% {-webkit-transform:translate(2rem, -1rem);transform:translate(2rem, -1rem);}
  82% {-webkit-transform:translate(-2rem, 7rem);transform:translate(-2rem, 7rem);opacity:1}
  90%, 100% {-webkit-transform:translate(200%, -50vh);transform:translate(200%, -50vh);opacity:0}
}
@keyframes vibration {
    0% {-webkit-transform:scale(1) translate(0,0) rotate(45deg);transform:scale(1) translate(0,0) rotate(45deg);}
    50% {-webkit-transform:scale(1) translate(1px,-1px) rotate(45deg);transform:scale(1) translate(1px,-1px) rotate(45deg);}
    100% {-webkit-transform:scale(1) translate(0,0) rotate(45deg);transform:scale(1) translate(0,0) rotate(45deg);}
}
@keyframes maingas {
    0% {-webkit-transform:translate(0, 0.313rem) scale(0.9);transform:translate(0, 0.313rem) scale(0.9);}
    100% {-webkit-transform:translate(0, 0px) scale(1.2);transform:translate(0, 0px) scale(1.2);}
}
@keyframes smallgas {
    0% {-webkit-transform:translate(0, -0.625rem) scale(1);transform:translate(0, -0.625rem) scale(0.4);opacity:0.6;}
    100% {-webkit-transform:translate(0, 3.125rem) scale(0.7);transform:translate(0, 3.125rem) scale(0.2);opacity:0;}
}
@keyframes circleglow {
    0%, 88% {box-shadow:-10px 0 40px rgb(255 255 255),10px 0 40px rgb(255 255 255);}
    100% {box-shadow:-10px 0 40px rgb(250, 204, 89),10px 0 40px rgb(255, 253, 229);}
}
@keyframes circlespin { 
    100% {-webkit-transform:rotate(360deg);transform:rotate(360deg); } 
}
@keyframes boosterday {
    0%, 82% {-webkit-transform:translateY(0) scale(1);transform:translateY(0) scale(1);}
    90% {-webkit-transform:translateY(-10.625rem) scale(1.4);}
    100% {-webkit-transform:translateY(-9.375rem) scale(1);transform:translateY(-9.375rem) scale(1);}
}

.fx-attend--modal {max-height:49vh !important;margin-top:-1rem;}
.fx-attend--modal .fx-attend-animation {margin:1.25rem auto 0.625rem;}
.fx-attend--modal hr.content-devider {margin:1.875rem 0 0}

/* odometer css */
.odometer.odometer-auto-theme, 
.odometer.odometer-theme-minimal {position:relative;display:inline-block;vertical-align:middle;} 
.odometer.odometer-auto-theme,
.odometer.odometer-theme-minimal {display:inline;}
.odometer.odometer-auto-theme .odometer-digit,
.odometer.odometer-theme-minimal .odometer-digit {position:relative;display:inline-block;vertical-align:middle;}
.odometer.odometer-auto-theme .odometer-digit,
.odometer.odometer-theme-minimal .odometer-digit {display:inline;}
.odometer.odometer-auto-theme .odometer-digit .odometer-digit-spacer,
.odometer.odometer-theme-minimal .odometer-digit .odometer-digit-spacer {visibility:hidden;display:inline-block;vertical-align:middle;}
.odometer.odometer-auto-theme .odometer-digit .odometer-digit-spacer,
.odometer.odometer-theme-minimal .odometer-digit .odometer-digit-spacer {display:inline;}
.odometer.odometer-auto-theme .odometer-digit .odometer-digit-inner,
.odometer.odometer-theme-minimal .odometer-digit .odometer-digit-inner {overflow:hidden;position:absolute;top:0;left:0;right:0;bottom:0;display:block;text-align:left;}
.odometer.odometer-auto-theme .odometer-digit .odometer-ribbon,
.odometer.odometer-theme-minimal .odometer-digit .odometer-ribbon {display:block;}
.odometer.odometer-auto-theme .odometer-digit .odometer-ribbon-inner,
.odometer.odometer-theme-minimal .odometer-digit .odometer-ribbon-inner {display:block;-webkit-backface-visibility:hidden;backface-visibility:hidden;}
.odometer.odometer-auto-theme .odometer-digit .odometer-value,
.odometer.odometer-theme-minimal .odometer-digit .odometer-value {display:block;-webkit-transform:translateZ(0);transform:translateZ(0);}
.odometer.odometer-auto-theme .odometer-digit .odometer-value.odometer-last-value,
.odometer.odometer-theme-minimal .odometer-digit .odometer-value.odometer-last-value {position:absolute;}
.odometer.odometer-auto-theme.odometer-animating-up .odometer-ribbon-inner,
.odometer.odometer-theme-minimal.odometer-animating-up .odometer-ribbon-inner {-webkit-transition:-webkit-transform 0.8s;transition:transform 0.8s;}
.odometer.odometer-auto-theme.odometer-animating-up.odometer-animating .odometer-ribbon-inner,
.odometer.odometer-theme-minimal.odometer-animating-up.odometer-animating .odometer-ribbon-inner {-webkit-transform:translateY(-100%);transform:translateY(-100%);}
.odometer.odometer-auto-theme.odometer-animating-down .odometer-ribbon-inner,
.odometer.odometer-theme-minimal.odometer-animating-down .odometer-ribbon-inner {-webkit-transform:translateY(-100%);transform:translateY(-100%);}
.odometer.odometer-auto-theme.odometer-animating-down.odometer-animating .odometer-ribbon-inner,
.odometer.odometer-theme-minimal.odometer-animating-down.odometer-animating .odometer-ribbon-inner {-webkit-transition:-webkit-transform 0.8s;transition:transform 0.8s;-webkit-transform:translateY(0);transform:translateY(0);}