@charset "utf-8";

.btn-share {display:flex;align-items:center;}
.btn-share::before {content:'';display:inline-block;width:1.125rem;height:1.125rem;margin-right:0.5rem;background:url('../../resource/images/C/icon_share.png') 50% 50% no-repeat;background-size:100% auto;opacity:.6;}
.btn-share__text {font-size:0.813rem;color:#666;}
.fx-sticker {position:absolute;top:-35%;right:0.875rem;}
.fx-sticker__arrow {position:absolute;bottom:0;left:30%;width:0;height:0;}
.fx-sticker__arrow::before {content:'';position:absolute;bottom:0;width:0;height:0;border:solid transparent;border-color:rgba(243, 83, 116, 0);border-bottom-color:#f35374;border-width:13px;margin-left:-13px;}
.fx-sticker__cont {position:relative;display:flex;flex-wrap:wrap;align-items:center;align-content:center;width:5.625rem;height:5.625rem;text-align:center;border:2px solid #f35374;border-radius:50%;line-height:1.2;color:#f72450;background:#fff;}
.fx-sticker__cont::after {content:'';position:absolute;bottom:0;left:30%;width:0;height:0;border:solid transparent;border-color:rgba(255, 255, 255, 0);border-bottom-color:#fff;border-width:12px;margin-left:-9px;}
.fx-sticker__txt {margin-top:0.625rem;font-size:0.813rem;word-break:keep-all;}
.fx-sticker__num {display:block;width:100%;margin-top:0.125rem;text-align:center;font-weight:500;font-size:1.375rem;}

/* 서비스 가입 */
[class^='fx-join-step']:not(:first-child) {overflow:hidden;height:1px;opacity:0;transition:all 0.3s;transition-timing-function:ease-out;}
[class^='fx-join-step'].active {height:auto;margin-top:2.5rem;opacity:1;}
.fx-nickname .input .button-square-small {position:absolute;top:50%;right:0;margin-top:-0.938rem;z-index:2;}
.fx-nickname .input__error {position:absolute;width:calc(100% - 2.188rem);}
.fx-account {margin-top:1.875rem;}
.fx-account__word {padding-left:2.1875rem;}
.fxmarket .fx-limit {margin-top:1.5rem;}
.fx-limit .input-wrap {margin:0;}
.fx-limit .input {width:40%;margin-left:0;}
.fx-limit .input__title {width:4.375rem;font-size:1.125rem;}
.fx-limit .input__text {font-size:1.125rem;}