@charset "utf-8";

/* 서비스 가입 - 가입안내 */
.fx-footer {opacity:0;transition:all 0.3s;}
.fx-footer.is-active {opacity:1;}
.fx-serviceinfo__text {margin-bottom:1.25rem;font-weight:300;font-size:1.25rem;text-align:center;line-height:1.4;}
.fx-serviceinfo__text .bold {font-weight:700;color:#009591;}
.fx-serviceinfo .container:not(:first-child) {margin-top:3.438rem;}
.fx-serviceinfo-group {opacity:0;transition:all 0.6s;transform:translateY(50px);}
.fx-serviceinfo-group.is-active {opacity:1;transform:translateY(0);}
.fx-serviceinfo-motion {position:relative;}
.fx-serviceinfo-motion .bg-circle {overflow:hidden;position:relative;display:block;width:7.25rem;height:7.25rem;margin:0 auto;border-radius:50%;}
.fx-serviceinfo-motion .bg-circle--01 {background-color:#8cd8ff;}
.fx-serviceinfo-motion .bg-circle--02 {background-color:#efe5f8;}
.fx-serviceinfo-motion .bg-circle--03 {background-color:#ffdce3;}
.fx-serviceinfo-motion .bg-circle--04 {background-color:#ffe4ba;}
.fx-serviceinfo-motion [class^='ani-'] {position:absolute;display:block;background-position:0 0;background-repeat:no-repeat;background-size:100% auto;}
.fx-serviceinfo-motion .ani-hand-receive {bottom:6px;width:97px;height:43px;background-image:url(../../resource/images/fxmarket/img_serviceinfo_hand_receive.png);}
.is-active .ani-hand-receive {animation:handReceive 0.4s 0.3s both linear;}
    @keyframes handReceive {
        from {left:-100px;}
        to {left:-18px;}
    }
.fx-serviceinfo-motion .ani-hand-give {top:17px;width:85px;height:53px;background-image:url(../../resource/images/fxmarket/img_serviceinfo_hand_give.png);}
.is-active .ani-hand-give {animation:handGive 0.5s 1s both ease-in-out;}
    @keyframes handGive {
        from {right:-100px;}
        to {right:-2px;}
    }
.fx-serviceinfo-motion .ani-coin-01 {top:63px;left:50%;width:28px;height:29px;margin-left:38px;background-image:url(../../resource/images/fxmarket/img_serviceinfo_coin_01.png);}
.fx-serviceinfo-motion .ani-coin-02 {top:33px;left:50%;width:21px;height:22px;margin-left:68px;background-image:url(../../resource/images/fxmarket/img_serviceinfo_coin_02.png);}
.is-active .ani-coin-01 {animation:coinAni01 1s infinite ease-out;}
.is-active .ani-coin-02 {animation:coinAni02 1.1s infinite ease-out;}
    @keyframes coinAni01 {
        0% {opacity:1;transform:translateY(3px);}
        50% {opacity:1;transform:translateY(-3px);}
        100% {opacity:1;transform:translateY(3px);}
    }
    @keyframes coinAni02 {
        0% {opacity:1;transform:translateY(4px);}
        50% {opacity:1;transform:translateY(-5px);}
        100% {opacity:1;transform:translateY(4px);}
    }
/* .fx-serviceinfo-motion .ani-coin-piles {position:relative;width:52px;height:41px;background-image:url(../../resource/images/fxmarket/img_serviceinfo_coin_piles.png);} */
.fx-serviceinfo-motion .ani-coin-piles {bottom:-3px;left:50%;width:32px;height:30px;margin-left:-46px;}
.fx-serviceinfo-motion .ani-coin-piles .coin {position:absolute;bottom:0;display:none;width:32px;height:9px;background-position:0 0;background-repeat:no-repeat;background-size:100% auto;}
.fx-serviceinfo-motion .ani-coin-piles .coin1 {height:10px;background-image:url(../../resource/images/fxmarket/img_serviceinfo_coin_piles1.png);filter:drop-shadow(1px 1px 2px rgba(0,0,0,0.2));}
.fx-serviceinfo-motion .ani-coin-piles .coin2 {bottom:6px;background-image:url(../../resource/images/fxmarket/img_serviceinfo_coin_piles2.png);}
.fx-serviceinfo-motion .ani-coin-piles .coin3 {bottom:11px;background-image:url(../../resource/images/fxmarket/img_serviceinfo_coin_piles3.png);}
.fx-serviceinfo-motion .ani-coin-piles .coin4 {bottom:16px;background-image:url(../../resource/images/fxmarket/img_serviceinfo_coin_piles4.png);}
.fx-serviceinfo-motion .ani-coin-piles .coin5 {bottom:21px;background-image:url(../../resource/images/fxmarket/img_serviceinfo_coin_piles5.png);}
.ani-coin-piles .coin.on {
    display:block;
    animation:coinPiles 0.8s forwards ease-out;
}
    @keyframes coinPiles {
        0% {-webkit-transform:rotate(20deg) scale(1.2,1.2);transform:rotate(20deg) scale(1.2,1.2);}
        10%	{-webkit-transform:rotate(-20deg);transform:rotate(-20deg);}
        18%	{-webkit-transform:rotate(20deg);transform:rotate(20deg);}
        26%	{-webkit-transform:rotate(-20deg);transform:rotate(-20deg);}
        34%	{-webkit-transform:rotate(20deg);transform:rotate(20deg);}
        42%	{-webkit-transform:rotate(-20deg);transform:rotate(-20deg);}
        50%	{-webkit-transform:rotate(15deg);transform:rotate(15deg);}
        58%	{-webkit-transform:rotate(-15deg);transform:rotate(-15deg);}
        66%	{-webkit-transform:rotate(10deg);transform:rotate(10deg);}
        74%	{-webkit-transform:rotate(-5deg);transform:rotate(0deg);}
        100% {-webkit-transform:rotate(0deg) scale(1,1);transform:rotate(0deg) scale(1,1);}
    }
.fx-serviceinfo-motion .ani-arrow-down {top:-35px;left:50%;width:20px;height:28px;margin-left:-10px;background-image:url(../../resource/images/fxmarket/img_serviceinfo_arrow_down.png);}
.is-active .ani-arrow-down {

}
.fx-serviceinfo-motion .ani-hand-grab {bottom:-4px;left:50%;width:81px;height:102px;margin-left:-12px;background-image:url(../../resource/images/fxmarket/img_serviceinfo_hand_grab.png);}
.is-active .ani-hand-grab {
    animation:handGrab 1.2s 4s both ease-out;
    /* -webkit-animation:handGrab 1s 0.1s infinite; */
	transform-origin:50% 90%;
    /* -webkit-transform-origin:50% 90%; */
}
    @keyframes handGrab {
        0%, 10% {transform:rotate(0);}
        25% {transform:rotate(-15deg);}
        55%, 58% {transform:rotate(35deg);}
        75%, to {transform:rotate(0);}
    }
.fx-serviceinfo-motion .ani-arrow-up {top:8px;left:19px;width:21px;height:25px;background-image:url(../../resource/images/fxmarket/img_serviceinfo_arrow_up.png);}
.fx-serviceinfo-motion .ani-coinpop {top:34px;left:50%;width:189px;height:62px;margin-left:-94px;background-image:url(../../resource/images/fxmarket/img_serviceinfo_coin_pop.png);}
.fx-serviceinfo-motion .ani-infoclock {bottom:-8px;left:50%;width:72px;height:83px;margin-left:-36px;background-image:url(../../resource/images/fxmarket/img_serviceinfo_clock.png);}
.fx-serviceinfo-motion .ani-infothunder {top:-7px;left:50%;width:27px;height:42px;margin-left:-14px;background-image:url(../../resource/images/fxmarket/img_serviceinfo_thunder.png);}
.fx-serviceinfo-motion .ani-stardori {top:27px;left:50%;width:87px;height:106px;margin-left:-40px;background-image:url(../../resource/images/fxmarket/img_serviceinfo_stardori.png);}
.fx-serviceinfo-motion .ani-emoji {position:absolute;left:50%;transition:none;}
.fx-serviceinfo-motion .ani-emoji-shadow {position:absolute;bottom:-3px;display:block;width:100%;height:9px;background-image:url(../../resource/images/fxmarket/img_serviceinfo_emoji_shadow.png);}
.fx-serviceinfo-motion .ani-emoji--01 {top:3px;margin-left:-65px;-webkit-transform:scale(0.6);transform:scale(0.6);}
.fx-serviceinfo-motion .ani-emoji--02 {top:101px;margin-left:-72px;-webkit-transform:scale(0.7);transform:scale(0.7);}
.fx-serviceinfo-motion .ani-emoji--03 {top:27px;margin-left:39px;}

